{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [
          "Explorer >= 8"
        ]
      }
    }]
  ],
  "plugins": [
    "babel-plugin-loop-optimizer",
    "babel-plugin-array-includes"
  ]
}