.slider {
    margin-bottom: 80px;
    &__item{
        position: relative;
        padding-bottom: 3rem;
        display: block;
    }
    &__img {
        position: relative;
        z-index: 1;
    }
    &__sombra {
        @include posicion(absolute,1rem,0,null,0);
        z-index: 0;
        filter: blur(5px);
    }
}