.header {
  background: gris(24);
  padding: 0 1.5rem;
  @include posicion(fixed,0,0,null,0);
  z-index: 99;
  @include transicion;
  .inicio-banner & {
    background: transparent;
    @include break(xl-mw) {
      background: gris(24);
    }
  }
  .scrolled & {
    background: gris(24);
  }
  &__container {
    max-width: var(--ancho);
    margin: auto;
    height: var(--header);
    @include transicion;
  }
  &__item {
    &--menu {
      margin-left: auto;
      @include break(xl-mw) {
        display: none;
      }
    }
    h1 {
      margin: 0;
      line-height: 1;
    }
  }
  &__logo {
    display: block;
    height: var(--logoHeader);
    @include transicion;
  }
}
